<div class="m-card m-card__category--{{category}}">

	<div class="m-card__header">
		<a href="{{permalink}}">
			<img src="{{imageUrl}}" alt="{{imageAlt}}">
		</a>
	</div><!--/.m-card__header-->
	
	<div class="m-card__content">
		<p class="m-content__label--small"><a href="{{categoryUrl}}">{{category}}</a></p><!--/.m-content__label-->
		<h2 class="m-card__heading">
			<a href="{{permalink}}">{{title}}</a>
		</h2>
		
		<div class="m-card__copy">
			<p>{{excerpt}}</p>
		</div><!--/.m-card__copy-->
	</div><!--/.m-card__content-->

</div><!--/.m-card-->